<launch>
    <!-- sensors -->
    <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch"> </include>

    <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
        <remap from="image" to="camera/depth_registered/image_raw" />
        <remap from="scan" to="depth_scan" />
        <param name="output_frame_id" value="camera_depth_frame" />
        <param name="range_min" value="0.45" />
    </node>

    <!-- odometry -->
    <node pkg="rosserial_arduino" type="serial_node.py" name="serial_arduino" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="115200" />
    </node>

    <node pkg="odometry" type="foobar.py" name="odometry_handler_node"> </node>

    <!-- tranforms -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.19 0 0 0 base_link camera_link" output="screen"> </node>

    <!-- mapping -->
    <arg name="mapping" default="false"/>
    <group if="$(arg mapping)">

        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"> </node>
    </group>

    <!-- RTABMAP settings for mapping -->
    <arg name="rate"  default="5"/>
    <arg name="approx_sync" default="true" /> <!-- true for freenect driver -->
    <arg name="rgbd_sync" default="true"/>

    <group if="$(arg mapping)" ns="camera">
        <node if="$(arg rgbd_sync)" pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabma§p_ros/rgbd_sync camera_nodelet_manager" output="screen">
            <param name="compressed_rate"  type="double" value="$(arg rate)"/>
            <param name="approx_sync"      type="bool"   value="$(arg approx_sync)"/>

            <remap from="rgb/image"       to="rgb/image_rect_color"/>
            <remap from="depth/image"     to="depth_registered/image_raw"/>
            <remap from="rgb/camera_info" to="rgb/camera_info"/>

            <remap from="rgbd_image"      to="rgbd_image"/>
        </node>

        <node unless="$(arg rgbd_sync)" pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
            <param name="rate"         type="double" value="$(arg rate)"/>
            <param name="approx_sync"  type="bool"   value="$(arg approx_sync)"/>

            <remap from="rgb/image_in"       to="rgb/image_rect_color"/>
            <remap from="depth/image_in"     to="depth_registered/image_raw"/>
            <remap from="rgb/camera_info_in" to="rgb/camera_info"/>

            <remap from="rgb/image_out"       to="throttled/rgb/image_rect_color"/>
            <remap from="depth/image_out"     to="throttled/depth_registered/image_raw"/>
            <remap from="rgb/camera_info_out" to="throttled/rgb/camera_info"/>
        </node>
    </group>
</launch>
